html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--accent);
  color: var(--navy);
}

:focus {
  outline: 2px dashed var(--accent);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 3px;
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--slate);
}
::-webkit-scrollbar-thumb:active {
  border: 4px solid var(--navy);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;

  @media (max-width: 480px) {
    font-size: var(--fz-lg);
  }

  &.hidden {
    overflow: hidden;
  }

  &.blur {
    overflow: hidden;

    header {
      background-color: transparent;
    }

    #content > * {
      filter: blur(5px) brightness(0.7);
      transition: var(--transition);
      pointer-events: none;
      user-select: none;
    }
  }
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;

  @media (max-width: 1080px) {
    padding: 200px 100px;
  }
  @media (max-width: 768px) {
    padding: 150px 50px;
  }
  @media (max-width: 480px) {
    padding: 125px 25px;
  }

  &.fillHeight {
    padding: 0 150px;

    @media (max-width: 1080px) {
      padding: 0 100px;
    }
    @media (max-width: 768px) {
      padding: 0 50px;
    }
    @media (max-width: 480px) {
      padding: 0 25px;
    }
  }
}

strong {
  display: inline-block;
  position: relative;
  color: var(--white);
  opacity: 0.85;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    opacity: 1;
    color: var(--white);
    outline: 0;
    &:after {
      width: 98%;
    }
    & > * {
      color: var(--white) !important;
      transition: var(--transition);
    }
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: relative;
    left: 0%;
    bottom: 0.2em;
    background-color: var(--accent);
    opacity: 0.8;
  }
}

@media (prefers-reduced-motion: no-preference) {
  strong::after {
    transition: var(--transition);
  }
}

section {
  margin: 0 auto;
  width: 100%;
  padding: 96px 0 14px;

  @media (max-width: 1024px) {
    padding: 0;
    margin-bottom: 96px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-weight: 700;
}

img,
svg,
.gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

img[alt=""],
img:not([alt]) {
  filter: blur(5px);
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;
  transition: transform 150ms var(--easing) !important;

  &.feather {
    fill: none;
  }
}

a,
.anchor {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .a.inline-link::after {
    transition: var(--transition);
  }
}

p {
  margin: 0 0 15px 0;

  &:last-child,
  &:last-of-type {
    margin: 0;
  }

  & > a {
    display: inline-block;
    position: relative;
    color: var(--white);
    transition: var(--transition);

    &:hover,
    &:focus-visible {
      color: var(--accent) !important;
      outline: 0;
      &:after {
        width: 98%;
      }
      & > * {
        color: var(--accent) !important;
        transition: var(--transition);
      }
    }
    /* &::before {
      content: "";
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
    } */

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: relative;
      left: 1%;
      bottom: 0.17em;
      background-color: var(--accent);
      opacity: 0.5;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  p > a::after {
    transition: var(--transition);
  }
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.section-title {
  display: flex;
  align-items: flex-end;
  line-height: 100%;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  counter-increment: section;
  color: var(--white);
  cursor: default;

  &::before {
    position: relative;
    bottom: -1px;
    content: "0" counter(section) ".";
    margin-right: 8px;
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 1vw, var(--fz-xl));
    font-weight: 400;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 1px;
    margin-left: 16px;
    background-color: #555;
  }
}

.card-data {
  grid-column: 2/-1;
  & h3 {
    font-size: var(--fz-md);
    color: var(--white);
    & a {
      position: unset;
    }
    & a:hover svg,
    a:focus svg {
      color: var(--accent);
      transform: translate(3px, -3px);
    }

    & svg {
      margin-left: 0px;
      transition: transform 150ms var(--easing);
    }
  }

  & p {
    font-size: var(--fz-sm);
    color: var(--slate);
    line-height: 21px;
  }
}

li.card-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  transition: all 150ms var(--easing);

  &:is(:has(.github:hover), :has(.hover-glass:hover)) img {
    border: var(--img-border-hover);
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  span.hover-glass {
    position: absolute;
    width: calc(100% + 42px);
    height: calc(100% + 42px);
    left: -21px;
    top: -21px;
    border-radius: 6px;
    border-top: 1px solid #fff1;
    z-index: 1;
    box-shadow: 0px 2px 14px -6px var(--navy-shadow);
    background-color: #ffffff09;
    opacity: 0;
    transition: all 150ms var(--easing);

    &:hover {
      opacity: 1;
    }
  }
}
