:root {
  --navy: rgb(16, 21, 26);
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: rgb(191, 198, 205);
  --dark-slate: rgb(162, 169, 176);
  --img-background: rgb(23, 31, 38);
  --img-border: 2px solid rgba(226, 232, 240, 0.1);
  --img-border-hover: 2px solid rgba(226, 232, 240, 0.5);
  --white: #e2e8f0;
  --accent: #f77984;
  --accent-tint: #e06c751a;

  --font-sans:
    "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui,
    sans-serif;
  --font-mono: "SF-Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;
  --fz-xxl: 28px;

  --fz-heading1: clamp(48px, 3vw, 64px);
  --fz-heading2: clamp(16px, 1.125vw, 24px);

  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;

  --title-blur: blur(8px);
  --title-bg: rgb(16, 21, 29, 0.7);

  --tab-height: 42px;
  --tab-width: 120px;

  --max-width: 1280px;
  --body-padding: 96px;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
