---
---

<div class="hero">
  <p>Hi, my name is</p>
  <h1>Mariano Ibarra</h1>
  <h2>Building exceptional digital experiences.</h2>
</div>

<style>
  .hero {
    cursor: default;
  }

  p {
    margin: 0px 0px 16px 4px !important;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }
  
  h1 {
    font-size: var(--fz-heading1);
    color: var(--white);
    letter-spacing: -1.2px;
  }

  h2 {
    margin-top: 8px;
    color: var(--slate);
    width: 90%;
    line-height: 1.1;
    font-size: var(--fz-heading2);
  }
</style>