---
import FancyLink from '../components/FancyLink.astro'
import CardJob from '../components/CardJob.astro'
import { getCollection } from 'astro:content';
import { getI18N } from '../i18n';

const { JOBS_TITLE, JOBS_DOWNLOAD, DOWNLOAD_RESUME } = getI18N(Astro.currentLocale)

const jobs = await getCollection('jobs', job => job.slug.split('/')[0] === Astro.currentLocale);
jobs.sort((a, b) => Number(new Date(b?.data?.date)) - Number(new Date(a?.data?.date)))

const RESUME_HREF = {
  en: '/download/Resume EN - v2025.06.pdf',
  es: '/download/Resume ES - v2025.06.pdf',
}[Astro.currentLocale ?? 'en'];

---

<section id="jobs">
  <h3 class="section-title">
    { JOBS_TITLE }
  </h3>
  <ol>
    { jobs.map(job => <CardJob job={job} />) }
  </ol>
  <a href={RESUME_HREF} title={DOWNLOAD_RESUME} target="_blank">
    <FancyLink mt={56}>
      { JOBS_DOWNLOAD }
    </FancyLink>
  </a>
</section>

<style>
  #jobs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    > ol {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    > a {
      width: fit-content;
    }
  }
</style>