---
import { getCollection } from 'astro:content';
import CardProject from '../components/CardProject.astro';
import { getI18N } from '../i18n';
import type { Project } from '../content/config';

const { PROJECTS_TITLE } = getI18N(Astro.currentLocale)
const projects = await getCollection('projects', project => project.data.showInProjects && project.slug.split('/')[0] === Astro.currentLocale);
const sortProjects = (a: Project, b: Project) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))

projects.filter(project => project.data?.showInProjects).sort(sortProjects)
---

<section id="projects"> 
  <h3 class="section-title">
    { PROJECTS_TITLE }
  </h3>
  <ol>
    { projects.map(project => <CardProject project={project} />) }
  </ol>
</section>

<style>
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    > ol {
      display: flex;
      flex-direction: column;
      gap: 64px;
    }
  }
</style>