---
import { getI18N } from "../i18n"

  const { HERO_HEADER, HERO_SUBTITLE } = getI18N(Astro.currentLocale)
---

<div class="hero">
  <p>{HERO_HEADER}</p>
  <h1>Mariano Ibarra</h1>
  <h2>{HERO_SUBTITLE}</h2>
</div>

<style>
  .hero {
    cursor: default;
  }

  p {
    margin: 0px 0px 16px 4px !important;
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }
  
  h1 {
    font-size: var(--fz-heading1);
    color: var(--white);
    letter-spacing: -1.2px;
  }

  h2 {
    margin-top: 8px;
    color: var(--slate);
    width: 90%;
    font-weight: 500;
    line-height: 1.35;
    font-size: var(--fz-heading2);
  }
</style>