---
import { NAV_LINKS } from "../config";
import { getI18N, getLangFromUrl } from "../i18n";
const { LINKS } : { LINKS: {[key: string]: string} } = getI18N(Astro.currentLocale)

---
<script>
  import { SECTION_HEIGHT_RATIO } from "../config";
  const handleScroll = () => {
    const sections = document.querySelectorAll('section')
    const links = document.querySelectorAll('li')
    sections.forEach((section, i) => {
      const rect = section.getBoundingClientRect();
      if (rect.top <= window.innerHeight*SECTION_HEIGHT_RATIO && rect.bottom > window.innerHeight*SECTION_HEIGHT_RATIO) {
        [...links].map(l => l.classList.remove('active'))
        links[i].classList.add('active')
      }
    });
  };

  handleScroll()
  window.addEventListener('scroll', handleScroll)
</script>

<nav>
  <ul>
    {NAV_LINKS.map((url,i) => {
      const lang = getLangFromUrl(Astro.url)
      return (
        <li class={i === 0 ? 'active' : ''}>
          <a href={`${lang}${url}`}>
            <span/>
            <span>{LINKS[url]}</span>
          </a>
        </li>
        )
      }
    )}
  </ul>
</nav>

<style>
  nav {
    flex: 1;
    padding: 48px 0;
    counter-reset: item 0;
  }

  li.active {
    color: var(--white);

    & span:first-child {
      width: 2rem;
      background-color: var(--white);
    }
  }

  li {
    width: min-content;
    text-wrap: nowrap;
    margin-bottom: 18px;
    font-size: var(--fz-sm) !important;
    font-family: var(--font-mono);
    font-weight: 600;

    & a {
      display: flex;
      align-items: center;
      gap: 16px;
      counter-increment: item 1;
    }
    
    & span:first-child {
      display: inline-block;
      height: 1px;
      transition: var(--transition);
      background-color: var(--dark-slate);
      width: 1rem
    }

    & span:nth-child(2)::before {
      content: "0" counter(item) ".";
      margin-right: 5px;
      color: var(--accent);
      font-size: var(--fz-sm);
      text-align: right;
    }

    &:hover {
      & span:first-child {
        width: 2rem;
        background-color: var(--white);
      }
    }
  }
</style>